@media (max-width: 991.98px) {
    .container {
        max-width: 700px;
    }
    .advant {
        &__item {
            max-width: 200px;
        }
    }
    .consultation {
        h2 {
            font-size: 32px;
        }
    }
    .carousel {
        &__inner {
            width: 700px;
            img {
                width: 100%;
            }
        }
    }
    
}

@media (max-width: 767.98px) {
    .container {
        max-width: 500px;
    }
    .header {
        flex-wrap: wrap;
        justify-content: space-evenly;
        &__logo {
            // width: 150px;
            width: 100%;
        }
        &__logo-wrap {
            display: flex;
            width: 250px;
            margin: 0 auto;
            margin-bottom: 20px;
        }
        &__man {
            width: 35px;
            img {
                width: 100%;
            }
        }
        &__logo-text {
            display: flex;
            flex-direction: column;
            margin-left: 20px;
            max-height: 52px;
            line-height: 27px;
        }
        &__logo-name {
            font-size: 30px;
        }
        &__logo-slogan {
            font-size: 12px;
        }
        &__official {
            font-size: 14px;
            text-align: left;
            line-height: 26px;
            span {
                font-size: 12px;
            }
        }
        &__phone {
            font-size: 15px;
        }
    }
    .button {
        width: 130px;
        font-size: 11px;
        &_main {
            width: 190px;
            font-size: 12px;
        }
    }
    .promo {
        min-height: 620px;
        &__header {
            font-size: 35px;
            text-align: center;
        }
        &__subheader {
            font-size: 20px;
            margin-top: 5px;
        }
        &__wrapper {
            align-items: center;
        }
        &__icon {
            margin-top: 30px;
        }
        &__link {
            margin-top: 10px;
            font-size: 15px;
        }
    }
    .advant {
        padding: 50px 0 65px 0;
        &__wrapper {
            flex-direction: column;
            align-items: center;
            margin-top: 0;
        }
        &__item {
            max-width: 400px;
            margin-top: 30px;
        }
        &__title {
            margin-top: 10px;
        }
        &__descr {
            margin-top: 10px;
        }
    }
    .consultation {
        padding: 50px 0 65px 0;
        text-align: center;
        min-height: auto;
        h2 {
            font-size: 23px;
            line-height: 40px;
        }
        &__descr {
            font-size: 18px;
            line-height: 25px;
        }
        button {
            width: 100%;
            font-size: 16px;
        }
        form {
            margin: 0 auto;
            margin-top: 36px;
        }
    }
    .carousel {
        &__inner {
            width: 500px;
            img {
                width: 100%;
            }
        }
    }
}

@media (max-width: 575.98px) {
    .container {
        max-width: 280px;
    }
    .header {
        flex-direction: column;
        &__logo {
            width: 220px;
        }
        &__logo-wrap {
            margin-bottom: 0;
        }
        &__official {
            font-size: 14px;
            margin-top: 20px;
            text-align: center;
            span {
                font-size: 18px;
            }
        }
        &__contacts {
            align-items: center;
            margin-top: 20px;
        }
        &__phone {
            font-size: 17px;
        }
    }
    .button {
        width: 160px;
        height: 50px;
        font-size: 14px;
        margin-top: 20px;
        &_main {
            display: none;
        }
    }
    .promo {
        padding: 30px 0 40px 0;
        &__header {
            font-size: 22px;
        }
        &__subheader {
            font-size: 13px;
        }
        &__wrapper {
            margin-top: 50px;
        }
        &__link {
            margin-top: 50px;
            span {
                display: none;
            }
        }
        &__icons {
            max-width: 280px;
            span {
                font-size: 12px;
            }
        }
    }
    .advant {
        padding: 30px 0 40px 0;
        &__header {
            font-size: 23px;
        }
        &__wrapper {
            flex-direction: column;
            align-items: center;
            margin-top: 0;
        }
        &__title {
            margin-top: 10px;
        }
        &__descr {
            margin-top: 10px;
        }
        &__item {
            margin-top: 30px;
            max-width: 280px;
        }
    }
    .consultation {
        h2 {
            font-size: 18px;
            line-height: 30px;
        }
        &__descr {
            font-size: 14px;
            line-height: 20px;
        }
        form {
            width: 280px;
        }
    }
    .carousel {
        &__inner {
            width: 280px;
            img {
                width: 100%;
            }
        }
    }
}